.hero-img-grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(8, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  width: 100%;
  margin: 0 auto;
  @include media($sm) {
      width: 80%;
  };
  @include media($md) {
      width: 50%;
  };
  img {
    width: 100%;
    &:nth-child(1) {
      grid-area: 2 / 1 / 6 / 2;
    }
    &:nth-child(2) {
      grid-area: 1 / 2 / 3 / 3;
    }
    &:nth-child(3) {
      grid-area: 3 / 2 / 7 / 3;
    }
    &:nth-child(4) {
      grid-area: 2 / 3 / 5 / 4;
    }
    &:nth-child(5) {
      grid-area: 6 / 3 / 9 / 4;
    }
    &:nth-child(6) {
      grid-area: 1 / 4 / 4 / 5;
    }
    &:nth-child(7) {
      grid-area: 4 / 4 / 7 / 5;
    }
    &:nth-child(8) {
      grid-area: 1 / 5 / 4 / 6;
    }
    &:nth-child(9) {
      grid-area: 5 / 5 / 8 / 6;
    }
  }
}
